<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4 position-fixed" >
		<aside >
			<center><p><b>Filters</b></p></center>
			<div class="card">
				<article class="card-group-item">
					<header class="card-header">
						<h6 class="title">Price </h6>
					</header>
					<div class="filter-content">
						<div class="card-body">
						<form>
							<label class="form-check">
							  <input class="form-check-input" type="checkbox" value="">
							  <span class="form-check-label">
							    Mersedes Benz
							  </span>
							</label> <!-- form-check.// -->
							<label class="form-check">
							  <input class="form-check-input" type="checkbox" value="">
							  <span class="form-check-label">
							    Nissan Altima
							  </span>
							</label>  <!-- form-check.// -->
							<label class="form-check">
							  <input class="form-check-input" type="checkbox" value="">
							  <span class="form-check-label">
							    Another Brand
							  </span>
							</label>  <!-- form-check.// -->
						</form>

						</div> <!-- card-body.// -->
					</div>
				</article> <!-- card-group-item.// -->
				
				<article class="card-group-item">
					<header class="card-header">
						<h6 class="title">Location </h6>
					</header>
					<div class="filter-content">
						<div class="card-body">
						<label class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadio" value="">
						  <span class="form-check-label">
						    First hand items
						  </span>
						</label>
						<label class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadio" value="">
						  <span class="form-check-label">
						    Brand new items
						  </span>
						</label>
						<label class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadio" value="">
						  <span class="form-check-label">
						    Some other option
						  </span>
						</label>
						</div> <!-- card-body.// -->
					</div>
				</article> <!-- card-group-item.// -->
						<article class="card-group-item">
					<header class="card-header">
						<h6 class="title">Facilites </h6>
					</header>
					<div class="filter-content">
						<div class="card-body">
						<label class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadio" value="">
						  <span class="form-check-label">
						    First hand items
						  </span>
						</label>
						<label class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadio" value="">
						  <span class="form-check-label">
						    Brand new items
						  </span>
						</label>
						<label class="form-check">
						  <input class="form-check-input" type="radio" name="exampleRadio" value="">
						  <span class="form-check-label">
						    Some other option
						  </span>
						</label>
						</div> <!-- card-body.// -->
					</div>
				</article> <!-- card-group-item.// -->
			</div> <!-- card.// -->
		</aside>
		</div>
	<% @hostels.each do |hostel| %>
		<div class="card col-sm-8 col-sm-offset-4" style="margin: 50px auto 0;">
		  <img class="card-img-top" src="/landing.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title"><%= hostel.name %></h5>
		    <p class="card-text"><%= hostel.address%></p>
		    <p class="card-text"><small class="text-muted">Last updated 
		    	<%= time_ago_in_words(hostel.updated_at)%> ago</small></p>
		    <p class="card-text"><small class="text-muted">Contact: <%= hostel.phone%></small></p>
		  </div>
		</div>
	<%end%>
	</div>
</div>