<div class="footer-bg-color-admin border-top px-3 px-md-0 mt-4">
  <div class="footer-small py-2">
    <p class="mb-0 text-center">Hostel © 2020 - All rights reserved | Developed By<a href="" > UMTIANS</a> </p>
  </div>
</div>